<h1>Detalhes do Acesso</h1>
 
<p>
  <strong>ID:</strong>
  <%= @acesso.id %>
</p>
 
<p>
  <strong>Pagina:</strong>
  <%= @acesso.pagina %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @acesso.contato.nome %>
</p>