<table cellspacing="3" border="1" cellpadding:"7" align="center" width="70%">
  <tr>
    <td colspan="6" align="center"><h1>Listagem de Contatos</h1></td>
  </tr>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Created_at</th>
  </tr>
 
  <% @contato.each do |cont| %>
    <tr>
      <td><%= cont.id %></td>
      <td><%= cont.nome %></td>
      <td><%= cont.email %></td>
      <td><%= cont.created_at.strftime("%d/%m/%Y %T") %></td>
    </tr>
  <% end %>
</table>